<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/scheduledb</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1111</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <mapping class="entity.AcademicplanEntity"/>
    <mapping class="entity.AudienceEntity"/>
    <mapping class="entity.AudiencetypeEntity"/>
    <mapping class="entity.CategoryEntity"/>
    <mapping class="entity.DirectionEntity"/>
    <mapping class="entity.DisciplineEntity"/>
    <mapping class="entity.DisciplinetypeEntity"/>
    <mapping class="entity.GroupEntity"/>
    <mapping class="entity.MentorEntity"/>
    <mapping class="entity.NavigatorEntity"/>
    <mapping class="entity.ScheduleitemEntity"/>
    <mapping class="entity.TeacherEntity"/>
    <mapping class="entity.TimetableEntity"/>
    <mapping class="entity.UserEntity"/>
    <mapping class="entity.MainviewEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>